<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    <div class="container">
        <div class="titre">
            <h1>Domaines de compétences</h1>
            <p>Veuillez évaluez chaque compétence dans chaque domaine</p>
        </div>

        <div class="Container3 d-flex justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="search-box mb-2 me-2">
                    <div class="position-relative">
                        <input  class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)" type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" class="eva eva-search-outline search-icon">
                            <g data-name="Layer 2">
                                <g data-name="search">
                                    <rect width="24" height="24" opacity="0"></rect>
                                    <path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>



        
        <div class="container">
            <div class="row justify-content-start align-items-center custom-center">
                <div class="col-md-6">
                    <button class="btn custom-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Ajouter Domaine
                    </button>
                </div>
            </div>
            <div class="row justify-content-start align-items-center">
                <div class="col-md-6">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 300px;">
                            <input type="text" class="form-control mb-2" placeholder="Enter something" [(ngModel)]="newDomaine.nomDomaine" name="nomDomaine" >
                            <button class="btn custom-btn" type="button" (click)="addDomaine()" [routerLink]="['/domaine']">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        









        

        <div class="row product-grid-style">
            <div class="col-6 col-md-4 col-lg-3" *ngFor="let domaine of domaines; let i = index">
              <div class="product-details">
                <div class="contrainer2">
                  <div *ngIf="competencesNonNull(domaine)" class="label-offer bg-success">Done </div>
                  <img class="image" src="assets/azre9.png" alt="...">
                  <div class="title">{{ domaine.nomDomaine }}</div>
                </div>
                <div class="product-cart">
                  <a href="#!" [routerLink]="['/domaine', domaine.nomDomaine]" ><i class="fa-solid fa fa-eye"></i></a>
                  <a (click)="supprimerDomaine(domaine)"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
              <div class="product-info">
                <a href="#!">Overview</a>
              </div>
            </div>
          </div>
          
          
    </div>


</body>

</html>