<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    
    <div class="row align-items-center">
    <div class="col-md-4">
        <div class="mb-3">
            <h5 class="card-title">Employés<span class="text-muted fw-normal ms-2">({{collaborateurs.length}})</span></h5>
        </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center">
        <div class="search-box mb-2">
            <div class="position-relative">
                <input  #nom [(ngModel)]="searchTerm"  name="searchTerm" class="form-control w-100"  type="text" placeholder="Search...">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" class="eva eva-search-outline search-icon">
                    <g data-name="Layer 2">
                        <g data-name="search">
                            <rect width="24" height="24" opacity="0"></rect>
                            <path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
            <div>
                <a routerLink="/addcollaborateur" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            
                            <tr>
                                <th scope="col" class="ps-4" style="width: 50px;">
                                    <div class="form-check font-size-16"></div>
                                </th>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Email</th>
                                <th scope="col">Projects</th>
                                <th scope="col" style="width: 200px;">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let collab of collaborateurs | searchFilter: searchTerm | paginate : { itemsPerPage : tableSize , currentPage : page , totalItems : count } ; let i = index ">
                            

                            <tr>
                                <th scope="row" class="ps-4">
                                    <div class="form-check font-size-16"><input (change)="toggleCheckbox(i)" type="checkbox" class="form-check-input" id="contacusercheck1" /><label class="form-check-label" for="contacusercheck1"  ></label></div>
                                </th>
                                <td><img src="/assets/avatar1.png" alt="" class="avatar-sm rounded-circle me-2" /><a href="#" class="text-body">{{collab.nomCollaborateur}}</a></td>
                                <td><span class="badge badge-soft-success mb-0">{{collab.positionCollaborateur}}</span></td>
                                <td>{{collab.emailCollaborateur}}</td>
                                <td>125</td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a [ngClass]="{'disabled': !checkedCollaborateurs.has(i)}" [routerLink]="['/updateCollaborateur',collab.idCollaborateur]" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18" [ngClass]="{'pointer-events-none': !checkedCollaborateurs.has(i)}"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger" [ngClass]="{'disabled': !checkedCollaborateurs.has(i)}" (click)="supprimerCollaborateur(collab , i)" [routerLink]="['/collaborateurs']"  ><i class="bx bx-trash-alt font-size-18"[ngClass]="{'pointer-events-none': !checkedCollaborateurs.has(i)}" ></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="" id="cc" style="color: #3b76e1;" [routerLink]="['/profilcollab',collab.idCollaborateur]" >Overview</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing {{ nombreItems() }} Items of {{tableSize}} from {{collaborateurs.length}}</p></div>
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                  <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)">

                  </pagination-controls>
                </ul>
            </div>
        </div>
    </div>
</div>
